*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$font-stack: Helvetica, sans-serif;
$primary-color: #909590;

body {
	font: 100% $font-stack;
	color:white;
	background-image: url('./images/piz.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	animation: fadeIn 1s ease-in-out;;
  }

#content {
	display: relative;
}
  
div#nav {
	background-color: rgba(0,0,0,0.9);
	padding: 40px;
	h1 {
		font-size: 3rem;
		text-align: center;
		color: white;
		margin-bottom: 20px;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			padding: 0 22px;
			list-style: none;
			position: relative;
			a {
				text-decoration: none;
				font-size: 2rem;
				color: aliceblue;
				cursor: pointer;
			}
			a::after {
				content: '';
				position: absolute;
				width: 40%;
				transform: scaleX(0);
				height: 2px;
				bottom: 0;
				left: 20px;
				background-color: #0087ca;
				transform-origin: bottom right;
				transition: transform 0.25s ease-out;
			}
			a:hover::after,
			a.active::after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}	
		}
	}
}  
div.main {
	width: 50vw;
	height: auto;
	margin: 60px auto;
	padding: 20px;
	text-align: center;
	background-color: rgba(0,0,0,0.85);
	border: 1px solid #222;
	animation: fadeIn 1s ease-in-out;
	p{
		font-size: 1.4rem;
		margin: 40px 0;
	}
	img {
		width: 350px;
		height: 350px;
		object-fit: cover;
		border-radius: 50%;
	}
}
div.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	padding: 1rem;
	background-color: rgba(0,0,0,0.85);	
	font-size: 1.2rem;
	a {
		font-size: 1.5rem;
		color: white;
		transition: transform 0.2s ease-in-out;
	}
	a:hover {
		transform: scale(1.2);
	}
}

div.menu {
	width: 50vw;
	height: auto;
	margin: 60px auto;
	padding: 20px;	
	text-align: center;
	background-color: rgba(0,0,0,0.85);
	border: 1px solid #222;
	animation: fadeIn 1.5s;
	.item {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		article {
			border: 1px solid #222;
			background-color: rgba(0,0,0,0.3);
			border: 1px solid #000;
			padding: 30px;
			margin: 0 20px;
			img {
				width: 200px;
				height: 200px;
				object-fit: cover;
				border-radius: 50%;
			}
			h2 {
				font-size: 1.8rem;
				margin: 20px 0;
			}
		}
		article:hover {
			box-shadow: 10px 10px 54px rgba(72,62,221,0.4);
			transform: translateY(-2.2rem);
		}
	}
}
div.contact {
	width: 50vw;
	height: auto;
	margin: 60px auto;
	padding: 40px;	
	background-color: rgba(0,0,0,0.85);
	border: 1px solid #222;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: fadeIn 1.5s ease-in;
	span {
		font-size: 1.4rem;
		margin: 10px;
		align-self: flex-start;
		padding: 10px;
	}
	iframe {
		align-self: baseline;
		margin-top: 10px;
	}
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 1;
	}
  }

// responsive design for medium size
@media (max-width:820px) {
	div#nav {
		padding: 30px;
	}
	div.main {
		width: 80%;
	}
	div.menu {
		width: 80%;
	}
	div.contact {
		width: 80%;
		span {
			font-size: 1.1rem;
		}
	}

}

// responsive deisgn for small size 
@media (max-width: 500px) {
	// body {
	// 	background-size: contain;
	// 	background-repeat: repeat-y;
	// }
	div#nav {
		padding: 40px;
	}
	div.main {
		width: 100%;
	}
	div.menu {
		width: 100%;
		.item {
				display: flex;
				flex-direction: column;
				margin: 0px;
				article {
					padding: 30px;
					margin: 20px;
				}
		}
	}
	div.contact{
		width: 100%;
		span {
			display: block;
		}
	}
	.footer {
		height: 60px;
		font-size: 1.2rem;
		letter-spacing: normal;
		text-align: start;
	}
}

